<h1>RecordDb</h1>

<h2>Załozenia projektu</h2>

<p>Projekt jest prostą imitacją strony na zasadzie discogs. Mamy nasze płyty winylowe <b>records</b>, oraz prosty <b>marketplace</b></p>
<p>
  Niezalogowany uzytkownik moze jedynie wyświetlić Marketplace. Credentiale do logowania to: e-mail: <b>jan.niepsuj@microsoft.wsei.edu.pl</b>; hasło: <b>Password123</b>
</p>
<p>
  Zalogowany uzytkownik ma dostęp do dodawania nowych przedmiotów do Marketplace, wyświetlania bazy rekordów oraz dodawania nowych rekordów (Na podstawie wyłącznie predefiniowanych artystów i gatunków)
</p>
